.field-edit-comment.c-hidden{
  display: none;
}
.field-edit-comment.c-show{
  display: block;
}

.c-icon{
  padding:3px 5px;
  border:1px solid #ddd;
  margin:0px;
  background-color: #fff;
}
.c-icon:first-child{
  border-right: none;
}

.c-first-child.c-hidden{
  display: none !important;
}
.notif{
  display: block;
  opacity: 0;
  width: 30%;
  position: fixed;
  width: 300px;
  bottom: 5rem;
  right: 2rem;
}
.notif.c-hidden{
  display: none;
}

.table-striped tbody tr.complete{
  background-color: #d9edf7;
}
.table-striped tbody tr.pending{
  background-color: #fcf8e3;
}