a{
  text-decoration: none;
  color: inherit;
}
a:hover, a:focus{
  text-decoration: none;
}
.navbar-brand{
    width: 30%;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.rate-status{
  padding: 0px 5px;
}
.field-edit-comment.c-hidden{
  display: none;
}
.field-edit-comment.c-show{
  display: block;
}

.c-icon{
  padding:3px 5px;
  border:1px solid #ddd;
  margin:0px;
  background-color: #fff;
}
.c-icon:first-child{
  border-right: none;
}

.rate{
  list-style: none;
  margin: 0 auto;
  text-align: center;
}
.rating{
  list-style: none;
  margin:0;
}
.rate li, .rating li{
  display: inline-block;
  padding: 5px;
  font-size: 20px;
  transition:color 0.2s;
  cursor: pointer;
}

.rating i{
  color: #eea236;
}
.rate li:hover, li:focus{
    color: #eea236;
}
.rate i{
    color: #eea236;
}

.c-first-child.c-hidden{
  display: none !important;
}
.notif{
  display: block;
  opacity: 0;
  width: 30%;
  position: fixed;
  width: 300px;
  bottom: 5rem;
  right: 2rem;
}
.notif.c-hidden{
  display: none;
}

.table-striped tbody tr.complete{
  background-color: #d9edf7;
}
.table-striped tbody tr.pending{
  background-color: #fcf8e3;
}
.link-ticket{
  text-decoration: none;
  font-size: 18px;
  transition:color 0.2s;
}

.link-ticket:hover, :active{
  text-decoration:none;
  color:#2d2f32;
}

.is-invalid{
  color: #cd201f;
}

@media only screen and (max-width: 640px) {
  .navbar-brand{
    justify-content: left;
  }
  .app-title{
    display: none;
  }
}