extends ../layout/master.pug

block content
    .row
        .col-lg-4
            .card.card-profile
                .card-header(style='background-image: url(../dist/demo/photos/eberhard-grossgasteiger-311213-500.jpg);')
            .card-body.text-center
                img.card-profile-img(src='../dist/demo/faces/male/16.jpg')
                h3.mb-3 #{user.name}
                p.mb-4
                | #{user.email}
        .col-lg-8
            .card
                .card-header
                    h3.card-title Change Password
                .card-body
                    form.update-password(method="post" action=base_url+'profil/changepassword')
                        .form-group
                            label.form-label Password
                            input.form-control(type='password', name='password')
                        .form-group
                            label.form-label New Password
                            input.form-control(type='password', name='password_new')
                        .form-group
                            label.form-label Password Confirmation
                            input.form-control(type='password', name='password_conf')
                        .form-footer
                            button.btn.btn-primary.btn-block Save
                