extends ../layout/master.pug

block content
    .page-header
        h1.page-title
            | Report
    .row.row-cards.row-deck
        .col-12
            .card
                .card-header
                    .h3.card-title Print based on period
                .card-body
                    form(method="get" action=base_url+'report/view')
                        .form-group
                            .row.gutters-xs
                                .col-4
                                    input.form-control(type="date" name="from")
                                .col-4
                                    input.form-control(type="date" name="to")
                                .col-2
                                    select.form-control(name='type')
                                        option(value="0") Open
                                        option(value="2") Pending
                                        option(value="1") Complette
                                        option(value="3") All
                                .col-2
                                    button.btn.btn-primary.btn-block Submit
